@font-face {
  font-family: stampete;
  src: url(fonts/Stampete-dpxg.ttf);
}

@font-face {
  font-family: CristhynaSignature;
  src: url(fonts/CristhynaSignature.ttf);
}

@font-face {
  font-family: FreshmadeSignature;
  src: url(fonts/FreshmadeSignature.otf);
}

@font-face {
  font-family: MagnificChaos;
  src: url(fonts/MagnificChaos.ttf);
}

body {
  display: grid;
  height: 100vh;
  background-color: darkslategrey;
}

.back {
  margin-top: 150px;
  justify-self: center;
  background-color: #FCA108;
  border-radius: 30px 30px 0 0;
  box-shadow: 0px -2px 5px -2px, inset 0px -5px 85px 5px #866739, 1px 0 3px -1px;
  display: grid;
  height: 219px;
  width: 418px;
}

.checkoutCard {
  place-self: center;
  background-color: #0d377f;
  color: #0d377fdd;
  border-radius: 3px;
  display: grid;
  height: 615px;
  width: 400px;
  gap: 1px;
  box-shadow: 0 0 3px 1px black;
  grid-template-columns: 106px 294px;
  grid-template-rows: 50px repeat(2, 40px) 5px 20px repeat(11, 40px) 20px;
}

.envelope {
  grid-area: 8/1/-1/-1;
  align-self: end;
  justify-self: center;
  background-color: #FCA108;
  border-radius: 2px 2px 5px 5px;
  box-shadow: 0px -2px 3px -1px black,
              inset 0px -3px 150px 2px #866739bb,
              inset 0 -2px 3px 1px;
  display: grid;
  height: 412px;
  width: 420px;
}

.cell {
  font-size: .75em;
  text-shadow: 0 0 2px;
  box-shadow:inset 0 0 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #C7DDD5;
}

.dateDue {
  grid-row: 5 / 6;
}

.borrowersName {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}


.date1 {
  color: #002b59b9;
  font-size: 1em;
  font-family: stampete;
  grid-row: 6 ;
}

.date1 > .text {
  margin-top: 8px;
  transform: rotate(5deg);
  margin-right: 6px;
}

.date2 {
  color: #002b59cb;
  font-size: 1em;
  font-family: stampete;
  grid-row: 7;
  order: -2;
}

.date2 > .text {
  margin-left: 15px;
  transform: rotate(2deg);
}

.person1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 6;

}

.person1 > .name {
  align-self: end;
  color: #000F55aa;
  font-size: 1.8em;
  text-shadow: 0 0 2px;
  font-family: 'FreshmadeSignature';
}

.person2 {
  display: grid;
  grid-row: 7;
  order: -1;
}

.person2 > .name {
  margin-left: 15px;
  justify-self: start;
  color: #004977bb;
  font-size: 2.6em;
  text-shadow: 0 0 2px;
  font-family: 'Reenie Beanie';
}

.empty1{
  grid-column: 1/3;
}

.empty2 {
  grid-row: 4;
  grid-column: 1/3;
}

.fill{
  text-align: start;
}

.book {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #772128;
  box-shadow: inset 0 0 6px 3px, 0 0 5px 1px black;
  border-radius: 6px;
  padding: 20px;
}

.page1 {
  display: grid;
  color: #5A4130;
  background-color: #EED099;
  border-radius: 4px 4% 4% 4px ;
  box-shadow: -1px 1px 3px 1px black, inset -5px 0 140px -5px, inset -15px 0 30px -15px black;
}

.page2 {
  padding: 80px 180px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: #5A4130;
  background-color: #EED099;
  border-radius: 4% 4px 4px 4% ;
  box-shadow: 1px 1px 3px 1px black, inset -5px 0 140px -5px, inset 15px 0 30px -15px black;
}

.tableOfContents {
  grid-column: 1/-1;
  color: #090903A2;
  text-shadow: 0 0 2px;
  justify-self: center;
  font-size: 6em;
  font-family: MagnificChaos;

}
